 <div class="container my-5">
<h2 >Employees</h2>

<a routerLink='/employee/add' type="button" class="btn btn-outline-primary"> Add Employee</a>

<table class="table table-striped table-hover p-4 mt-4" >
  <thead >
    <tr class="text-primary">
      <th scope="col">Id</th>
      <th scope="col">FirstName</th>
      <th scope="col">lastName</th>
      <th scope="col">Address</th>
      <th scope="col">SALARY</th>
      <th scope="col">NationalId</th>
      <th scope="col">phone</th>
      <th scope="col">Birthdate</th>
      <th scope="col">hireDate</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td scope="row"> {{emp.id}}</td>
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.address}}</td>
      <td>{{emp.salary}}</td> 
      <td>{{emp.nationalId}}</td> 
      <td>{{emp.phone}}</td> 
      <td>{{emp.birthDate}}</td> 
      <td>{{emp.hireDate}}</td> 
      <td>
        <i class="bi bi-pencil-fill text-warning p-3"> </i>
        <!-- <i class="bi bi-person-plus text-primary p-2" ></i> -->
        <i (click)="deleteEmployee(emp.id)" class="bi  bi-trash-fill text-danger p-2" ></i>
      </td>


    </tr>
  </tbody>
</table>
 </div>