<div class="container my-4">
    <h2>Create a New Role</h2>
    <form>
      <div class="form-group">
        <label for="roleName">Role Name</label>
        <input name="roleName" type="text" id="roleName" [(ngModel)]="roleName" class="form-control">
      </div>
      <button (click)="createRole()" class="btn btn-primary">Create Role</button>
    </form>
  </div>
  
  <div class="container my-4">
    <h2>Assign Permissions</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Page Name</th>
          <th>Permissions</th>
        </tr>
      </thead>
      


      <tbody>
        <tr *ngFor="let page of pages">
          <td>{{ page.name }}</td>
          <td>
            <label>
              <input type="checkbox" [(ngModel)]="page.permissions[0].add"> Add
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="page.permissions[1].edit"> Edit
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="page.permissions[2].delete"> Delete
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="page.permissions[3].view"> View
            </label>
          </td>
        </tr>
      </tbody>
      



    </table>
  </div>
  
