<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-6 justify-content-center ">
            <form [formGroup]="registerForm" (submit)="register($event)">
                <div *ngIf="errors" class="bg-danger d-flex justify-content-center ">
                    <p>{{ errors }}</p>
                </div>
                <div class="mb-3">
                    <label for="FullName" class="form-label">FullName</label>
                    <input type="text" class="form-control" id="FullName" formControlName="FullName">
                </div>
                <div class="mb-3">
                    <label for="Username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="Username" formControlName="UserName">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="Email" formControlName="Email">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Password" formControlName="Password">
                </div>
                <select formControlName="Role" class="form-select mb-3">
                    <option value="" selected>--Select Role--</option>
                    <option value="User">User</option>
                    <option value="HumanResource">Human Resource</option>
                </select>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
            <button class="btn btn-primary" (click)="testCORS()">Test</button>
        </div>
    </div>
</div>